name: Publish Docker
on:
  push:
    branches-ignore:
      - 'master'
    paths:
      - 'src/**.js'
      - 'package.json'
      - 'Dockerfile'
      - '.github/workflows/**.yml'
      - '.github/workflows/**.yaml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: shawnliu/slack-approval-citadel
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tag_names: true
    - name: Publish to Aliyun Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: shawn_repo/slack-approval-citadel
        username: ${{ secrets.ALI_DOCKER_USERNAME }}
        password: ${{ secrets.ALI_DOCKER_PASSWORD }}
        registry: ${{ secrets.ALI_DOCKER_REGISTRY }}
        tag_names: true
